<!-- enjoy us 訂閱追蹤 -->
<div class="enjoyus bg-light py-5">
    <div class="container p-4">
        <div class="row g-5 justify-content-between">
            <div class="col-md-5">
                <h5>訂閱電子報</h5>
                <p>Claim your exclusive discount code when you subscribe to our emails. Terms and conditions
                    apply.
                </p>
                <form action="index.html" class="input-group">
                    <input type="email" name="email" id="email" class="form-control" placeholder="your@address.com">
                    <button type="submit" class="btn btn-secondary">訂閱電子報</button>
                </form>
            </div>
            <div class="col-md-6">
                <h5>聯絡我們</h5>
                <p><a href="tel:+02-2234-3234">02-2234-3234</a> ．
                    <a href="mailto:enjoyus@member-email.com">enjoyus@member-email.com</a>
                </p>
                <hr class="w-25">
                <h5>follow us</h5>
                <p class="fs-5">
                    <a class="me-3" href="#"><i class="bi bi-facebook"></i></a>
                    <a class="me-3" href="#"><i class="bi bi-instagram"></i></a>
                    <a class="me-3" href="#"><i class="bi bi-twitter"></i></a>
                    <a class="me-3" href="#"><i class="bi bi-youtube"></i></a>
                </p>
            </div>
        </div>
    </div>
</div>