$font-xl: 36px;
$font-l: 24px;
$font-m: 20px;
$font-s: 18px;

$color-primary: #2a4835;
$color-secondary: #ffee11;
$color-dark: #0b130e;
$color-bg: #2a4835;
$color-light: #f5fff9;
$color-normal: #777;
$color-normal-hover: #999;
$color-highlight: #fff454;
$color-highlight-hover: $color-secondary;
$color-shadow: $color-dark;
$color-favorite: #fff;
$color-favorite-hover: #ea4545;



h1,
h2,
h3,
h4,
p,
li,
a {
    color: $color-light;
}

h1,
h2,
h3,
h4,
p {
    line-height: 1.5;
}


h1 {
    font-size: $font-xl;
}

h2 {
    font-size: $font-m;
    text-align: center;
    position: relative;
}

h3 {
    font-size: $font-s;
}

h4 {
    font-size: $font-l;
}