// register.html主要內容
.register {
    max-width: 620px;
    margin: 5% auto;
    text-align: center;

    .row_2 {
        @include flex-jc-space-between;
    }

    img {
        margin-bottom: 1%;
        max-width: 120px;
    }

    h2 {
        font-weight: 700;
        margin-bottom: 5%;
    }
}

.register_box {
    background-color: $color-light;
    border-top: 5px solid $color-highlight;
    border-radius: 3px;
    @include box-shadow;
    padding: 5%;
    margin: 5% 0 0;
    color: $color-dark;

    h2 {
        color: $color-dark;
    }

    ol {
        list-style: decimal;
        margin-left: 1.2em;
    }

    li {
        color: $color-dark;
    }

    .item {
        width: 48%;
    }

    .terms {
        text-align: left;
        line-height: 1.5;
    }

    form {
        text-align: left;
    }

}


@include mobile {
    .register_box {
        width: 80%;
        margin: 5% auto 0;

        .row_2 {
            flex-direction: column-reverse;
        }

        .item {
            width: 100%;
        }

        .terms {
            margin-top: 5%;
        }

        .register_content {
            font-size: 16px;
            line-height: 1.5;

        }
    }
}


@include iphoneX {
    .register {
        max-width: 360px;
        margin: 10% auto;
    }

    .register_box {
        width: 100%;
    }

}

// register.html主要內容-結束