// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "bootstrap/variables";
@import "bootstrap/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "bootstrap/maps";
@import "bootstrap/mixins";
@import "bootstrap/root";

// 6. Optionally include any other parts as needed
@import "bootstrap/utilities";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/containers";
@import "bootstrap/grid";
@import "bootstrap/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "bootstrap/utilities/api";

// 8. Add additional custom code here
@import "bootstrap/buttons";
@import "bootstrap/navbar";
@import "bootstrap/nav";
@import "bootstrap/offcanvas";
@import "bootstrap/close";
@import "bootstrap/carousel";
@import "bootstrap/progress";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Noto+Sans+TC:wght@300;400&display=swap');

// 中文/英文 使用不同字體
html * {
    font-family: MyCustomFont !important;
}

// 英文用 Inter
@font-face {
    font-family: MyCustomFont;
    src: local("Inter Light"), local(Segoe UI), local(Helvetica);
    unicode-range: U+00-024F;
}

// 中文用思原黑
@font-face {
    font-family: MyCustomFont;
    src: local("Noto Sans TC"), local("微軟正黑體"), local("Microsoft JhengHei");
    unicode-range: U+4E00-9FFF;
}

// RWD
@mixin max-width-1600 {
    @media (max-width:1600px) {
        @content;
    }
}

@mixin max-width-1400 {
    @media (max-width:1400px) {
        @content;
    }
}

@mixin max-width-1200 {
    @media (max-width:1200px) {
        @content;
    }
}

@mixin max-width-992 {
    @media (max-width:992px) {
        @content;
    }
}

@mixin max-width-768 {
    @media (max-width:768px) {
        @content;
    }
}

@mixin max-width-576 {
    @media (max-width:576px) {
        @content;
    }
}

@mixin max-width-431 {
    @media (max-width:431px) {
        @content;
    }
}

@mixin max-width-and-min-width ($max-w, $min-w) {
    @media (max-width:$max-w) and (min-width:$min-w) {
        @content;
    }
}


// 文字排版
.letter-spacing-1 {
    letter-spacing: 0.5rem;
}

.letter-spacing-2 {
    letter-spacing: 0.1rem;
}


.writing-mode {
    writing-mode: vertical-rl;
}

// 頁面
.main {
    overflow: hidden;
}

// 背景
.bg-box {
    position: absolute;
    z-index: -100;
    top: 0;
    left: 0;
    right: 0;

    // 背景左右半圓圖案
    .main-bg-1 {
        height: 1920px;

        &::before {
            content: '';
            width: 200%;
            padding-top: 80%;
            border-radius: 100%;
            background-image: linear-gradient(rgba(255, 245, 190, 1), rgba(255, 245, 190, 0));
            position: absolute;
            top: -20%;
            right: 45%;
            z-index: -1;

            @include max-width-1600() {
                top: -13%;
            }

            @include max-width-1400() {
                top: -12%;
            }

            @include max-width-1200() {
                top: -10%;
            }

            @include max-width-992() {
                padding-top: 100%;
                right: 40%;
                top: -4%;
            }

            @include max-width-768() {
                right: 38%;
                top: -2%;
            }

            @include max-width-576() {
                padding-top: 120%;
                right: 35%;
                top: -1%;
            }

            @include max-width-431() {
                padding-top: 140%;
            }


        }

        &::after {
            content: '';
            width: 200%;
            padding-top: 80%;
            border-radius: 100%;
            background-image: linear-gradient(rgba(255, 245, 190, 1), rgba(255, 245, 190, 0));
            position: absolute;
            top: -20%;
            left: 45%;
            z-index: -1;

            @include max-width-1600() {
                top: -13%;
            }

            @include max-width-1400() {
                top: -12%;
            }

            @include max-width-1200() {
                top: -10%;
            }

            @include max-width-992() {
                padding-top: 100%;
                left: 40%;
                top: -4%;
            }

            @include max-width-768() {
                left: 38%;
                top: -2%;
            }

            @include max-width-576() {
                padding-top: 120%;
                left: 35%;
                top: -1%;
            }

            @include max-width-431() {
                padding-top: 140%;
            }

        }
    }

    // 背景下方半圓
    .main-bg-2 {
        width: 170%;
        padding-top: 120%;
        background-color: $light;
        border-radius: 100%;
        position: absolute;
        left: 50%;
        top: 30%;
        z-index: -1;
        transform: translate(-50%, 0);

        @include max-width-576() {
            top: 28%;
        }

        @include max-width-431() {
            top: 23%;
        }

    }
}


// menu，視窗捲到指定位置才會顯示按鈕控制offcanvas
.menu {
    position: fixed;
    width: fit-content;
    top: 0;
    right: 2%;
    z-index: 100;
    display: none;
}

.open-menu {
    display: block;
}

.menu-logo {
    width: 40px;
    margin-top: 50%;
}

// offcanvas 選單
.img-offcanvas-logo {
    width: 80px;
}

.img-offcanvas-fruit {
    width: 40px;
}

.offcanvas {
    width: fit-content;
    height: fit-content;
    padding-left: 50%;
    padding-bottom: 10%;
    background: url(../images/offcanvas-bg.png) no-repeat;
    background-size: cover;
    background-position: 0 100%;

    @include max-width-1400() {
        padding-left: 70%;
    }

    @include max-width-992() {
        padding-left: 90%;
    }

    @include max-width-576() {
        padding-left: 100%;
    }

    @include max-width-431() {
        padding-left: 120%;
    }
}

// .circle-bg {
//     width: 1920px;
//     height: 1920px;
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     z-index: -100;
//     background: $white;
//     border-radius: 50%;
// }


.offcanvas-body {
    padding-left: 100px !important;
    padding-right: 100px !important;

    @include max-width-and-min-width (1199px, 993px) {
        padding-left: 40px !important;
        padding-right: 40px !important;
    }

    @include max-width-992() {
        padding-left: 50px !important;
        padding-right: 50px !important;
    }

    @include max-width-768() {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    @include max-width-576() {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}


// KV

.kv {
    position: relative;
    margin-bottom: 5%;
    padding: 0;

    @include max-width-992() {
        margin-bottom: 3%;
    }


    .kv-content {
        margin-top: 10%;

        @include max-width-992() {
            margin-top: 18%;
        }

        @include max-width-576() {
            margin-top: 20%;
        }

        @include max-width-431() {
            margin-top: 25%;
        }

        & p {
            @include max-width-431() {
                line-height: 1;
            }
        }
    }

    .kv-logo {
        width: 80px;

        @include max-width-431() {
            width: 70px;
        }
    }

    .kv-fruit {
        @include max-width-431() {
            width: 80%;
        }
    }


    // 左右側欄 side-menu、follow us
    .side-menu,
    .side-follow {

        a {
            text-decoration: none;
            padding: 0.8rem;
        }
    }

    .side-follow li:first-child {
        @include max-width-576() {
            padding-top: 0.8rem;
        }
    }

}


// 主要內容框架
.main-container-bg {
    background-color: $light;
}

.main-container {
    max-width: 1400px;
    margin: auto;
    overflow: hidden;
}


// 柿子園介紹
.content-group {
    height: 500px;
    margin-bottom: 10%;

    @include max-width-768() {
        height: 400px;
    }

    @include max-width-and-min-width(767px, 577px) {
        width: 80%;
        height: fit-content;
        margin: 0 auto 10%;
    }

    @include max-width-576() {
        width: 80%;
        height: auto;
        margin: 0 auto 10%;
    }


    .content-group-img {
        width: 100%;
        height: 100%;
        opacity: 0;

        @include max-width-and-min-width(767px, 577px) {
            height: 250px;
            margin-bottom: 5%;
        }

        @include max-width-576() {
            height: 250px;
            margin-bottom: 5%;
        }

        @include max-width-431() {
            height: 200px;
        }

    }

    .content-text {
        width: 60%;
        padding: 0 6%;
        opacity: 0;

        @include max-width-and-min-width(767px, 577px) {
            width: 100%;
            padding: 0;
        }

        @include max-width-576() {
            width: 100%;
            padding: 0;
        }

    }

}


.pic-about {
    background: url(../images/about.jpg) no-repeat;
    background-size: cover;
    border-radius: 50px;

    @include max-width-1400() {
        border-radius: 0 50px 50px 0;
    }

    @include max-width-768() {
        border-radius: 0 50px 0 50px;
    }

}


// 最新消息
.news {
    margin-bottom: 10%;

    &-title {
        white-space: nowrap;
        padding-right: 6%;

        @include max-width-1400() {
            padding: 0 6%;
        }
    }

    .pic-news {
        border-radius: 50px;
    }

    .card-box {
        @include max-width-576() {
            overflow-x: auto;
        }
    }

    .card-group {
        margin-left: auto;
        flex-wrap: nowrap;

        @include max-width-and-min-width(991px, 769px) {
            padding: 0 6%;
        }

        @include max-width-768() {
            padding: 0 6%;
        }

        @include max-width-576() {
            width: 1000px;
        }

        @include max-width-431() {
            width: 800px;
        }
    }

    .card a {
        width: fit-content;

        &:hover {
            color: $white;
        }

        span {
            font-size: 12px;
        }
    }

    // 隱藏滾動條
    ::-webkit-scrollbar {
        display: none;
    }

}


// 樹
.tree {
    left: -50px;
    padding-bottom: 3%;

    @include max-width-and-min-width (767px, 577px) {
        left: 0;
    }

    @include max-width-576() {
        left: 0;
    }

    @include max-width-and-min-width (575px, 432px) {
        left: -40px;
    }

    @include max-width-431() {
        left: -30px;
    }

    .pic-tree {
        width: 1104px;
        height: 268px;
        background: url(../images/樹.png) no-repeat;
        background-size: cover;
        background-position-x: right;

        @include max-width-and-min-width (1199px, 993px) {
            width: 950px;
            height: 240px;
        }

        @include max-width-992() {
            width: 950px;
            height: 240px;
        }

        @include max-width-and-min-width (991px, 769px) {
            width: 800px;
            height: 200px;
        }

        @include max-width-768() {
            width: 760px;
            height: 200px;
        }

        @include max-width-and-min-width (767px, 577px) {
            width: 580px;
            height: 150px;
        }

        @include max-width-576() {
            width: 560px;
            height: 150px;
        }

        @include max-width-and-min-width (575px, 432px) {
            width: 480px;
            height: 120px;
        }

        @include max-width-431() {
            width: 410px;
            height: 110px;
        }

    }
}


// 柿子品種
.varieties {
    border-radius: 50px;
    padding: 70px;
    opacity: 0%;

    @include max-width-1400() {
        margin: 0 6%;
    }

    @include max-width-and-min-width(1199, 993) {
        padding: 60px 20px;
    }

    @include max-width-992() {
        padding: 60px 20px;
    }

    @include max-width-431() {
        padding: 40px 10px;
    }

    .content-title {
        width: 80%;

        @include max-width-576() {
            width: 90%;
        }

        @include max-width-431() {
            width: 95%;
        }
    }

    .varieties-fruit {
        transform: rotate(15deg);
    }

    .card {
        width: 70%;
        margin-bottom: 10%;

        @include max-width-1200() {
            width: 85%;
        }

        @include max-width-431() {
            width: 90%;
        }
    }

    .pic-tag {
        left: -30px;

        @include max-width-992() {
            left: -10px;
        }

        @include max-width-768() {
            width: 25%;
        }

        @include max-width-576() {
            width: 20%;
        }

    }

    .card-img-box {
        width: 45%;

        @include max-width-and-min-width(767, 577) {
            width: 40%;
            margin-bottom: -20px;
        }

        @include max-width-576() {
            width: 65%;
            margin-bottom: -20px;
        }

    }

    .card-body {
        width: 55%;

        @include max-width-1200() {
            width: 65%;
        }

        @include max-width-and-min-width(767px, 577px) {
            width: 80%;
        }

        @include max-width-576() {
            width: 100%;
        }

        .list-item {
            display: flex;
            align-items: center;
            padding: 12px 0;
            margin: 0;

            @include max-width-768() {
                align-items: start;
            }

            @include max-width-576() {
                padding: 8px 0;
            }
        }

        .list-title {
            background-color: $light;
            text-align: center;
            padding: 0 1%;
            font-size: 20px;
            font-weight: 400;
            white-space: nowrap;

            @include max-width-768() {
                width: 70px;
                font-size: 16px;
            }
        }

        .list-content {
            width: 100%;
            padding: 0;
            margin-left: 24px;

            @include max-width-576() {
                margin-left: 15px;
            }

            .text {
                margin-left: 3%;
            }
        }

        .progress {
            @include max-width-431() {
                width: 60% !important;
            }
        }
    }
}


// 園主介紹
.farmer {
    margin-top: 10%;
}

.pic-farmer {
    background: url(../images/farmer.jpg) no-repeat;
    background-size: cover;
    border-radius: 50px;

    @include max-width-1400() {
        border-radius: 0 50px 50px 0;
    }

    @include max-width-768() {
        border-radius: 0 50px 0 50px;
    }

}


// 直銷商店
.store {
    .list-content {
        span {
            display: inline-block;
            margin: 0 3%;
            line-height: 1.35;
        }
    }

    .title {
        font-weight: 400;
        white-space: nowrap;
    }
}

.pic-store {
    background: url(../images/store.jpg) no-repeat;
    background-size: cover;
    border-radius: 50px;

    @include max-width-1400() {
        border-radius: 50px 0 0 50px;
    }

    @include max-width-768() {
        border-radius: 0 50px 0 50px;
    }

}


// 預約採果體驗
.reservation {
    padding-bottom: 8%;
    overflow: hidden;

    @include max-width-1400() {
        padding-bottom: 10%;
    }

    @include max-width-768() {
        padding-bottom: 15%;
    }

    @include max-width-576() {
        padding-bottom: 20%;
    }

    &::after {
        content: '';
        width: 200%;
        padding-top: 80%;
        border-radius: 100%;
        background-color: $light;
        position: absolute;
        z-index: -1;
        left: 50%;
        bottom: 10%;
        transform: translate(-50%, 0);

        @include max-width-992() {
            bottom: 4%;
        }

        @include max-width-768() {
            bottom: 6%;
        }

        @include max-width-and-min-width(767px, 577px) {
            padding-top: 100%;
        }

        @include max-width-576() {
            padding-top: 140%;
            bottom: 4%;
        }

        @include max-width-and-min-width(575px, 432px) {
            padding-top: 180%;
        }

        @include max-width-431() {
            width: 250%;
            padding-top: 250%;
            bottom: 4%;
        }
    }

    .content-title {
        @include max-width-576() {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .content-body {
        @include max-width-431() {
            padding: 0 5%;
        }

        span {
            display: inline-block;
            margin: 0 3%;
            line-height: 1.35;
        }

        .phone-num {
            font-size: 32px;
            text-decoration-thickness: 1px;
            line-height: 0.75;
        }

        .reservation-icon {
            font-size: 32px;
        }
    }

    .border-rule {
        width: 0.5px;
        height: 100%;
        background-color: #958781;

        @include max-width-576() {
            width: 90%;
            height: 0.5px;
            margin: 5% 0;
        }
    }

    a {
        @include max-width-576() {
            width: 80%;
        }
    }

}


@media (max-width:431px) {
    .reservation {
        .content-body {
            padding: 0 5%;
        }

        &::after {
            width: 250%;
            padding-top: 250%;
            bottom: 4%;
        }

    }
}

// copyright
.copyright {
    font-size: 10px;
}


// 動畫

.kv-logo.animate__animated.animate__fadeIn {
    animation-delay: 1s;
}

.kv-fruit.animate__animated.animate__fadeIn {
    animation-delay: 1.5s;
}

.kv-text.animate__animated.animate__fadeIn {
    animation-delay: 2s;
}

.content-group .content-text.fadeIn-slow {
    animation-duration: 2s;
    animation-delay: 1.5s;
    opacity: 100%;
}

.varieties.animation-fadeIn {
    opacity: 100%;
    transition: 2s;
}

.animation-pulse {
    transform: scaleX(1) rotate(15deg);
    transition: 1s;

    &:hover {
        transform: scale3d(1.05, 1.05, 1.05) rotate(15deg);
    }
}